@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>React Realty Course</title>
</head>
<body style="background-color: #f0f2f5; margin: 0;">
    <div id="content">
        <div style="width: auto; text-align: center; margin-top: 320px; margin-left: 100px; font-family: 'Roboto';">
            Loading site content...
        </div>
    </div>

    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>